<div class="container map-container">

  <div>
    <h1>Places Page</h1>
  </div>
  <div class="row map-row">
  	<div class="col-md-3">
  		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Add a new Place</h3>
			</div>
			<div class="panel-body form-fields">
				<form id="form-places" >
					<% if (place.get('id')) { %><input type="hidden" name="id" value="<%= place.get('id') %>"/><% } %>
					<input name="name" type="text" class="form-control" placeholder="Name" value="<%= place.get('name') %>">
					<textarea name="description" class="form-control" placeholder="Description"><%= place.get('description') %></textarea>
					<div class="fc-50 fc-left">
						<input name="lat" type="text" class="form-control" placeholder="Lat" value="<%= place.get('lat') %>">
					</div>
					<div class="fc-50 fc-right">
						<input name="lng" type="text" class="form-control" placeholder="Lng" value="<%= place.get('lng') %>">
					</div>
					<button id="place-save" type="button" class="btn btn-info btn-block">Save</button>
					<button type="button" id="place-save-cancel" class="btn btn-danger btn-block">Cancel</button>
				</form>
			</div>
		</div>
  	</div>
  	<div class="col-md-9 map-col">
  		<div id="map" class="map"></div>
  	</div>
  </div>

</div><!-- /.container -->