<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Atlas</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a class="goto-home" href="#">Inicio</a></li>
        <li><a class="goto-users" href="#users">Usuarios</a></li>
        <li><a class="goto-places" href="#places">Lugares</a></li>
        <li><a class="goto-events" href="#events">Eventos</a></li>
        <li><a class="goto-routes" href="#routes">Rutas</a></li>
        <li><a class="goto-logout" href="#logout">Salir</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>