<% console.log(pager) %>
<nav>
    <ul class="pagination">
        <li class="<%= (pager.get('prev') == null) ? 'disabled' : '' %>">
            <a href="#<%= pager.get('url') %>/<%= pager.get('prev') %>" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <% _.each(pager.get('pages').models, function (page) { %>
        <li class="<%= (pager.get('current') == page.get('num')) ? 'active' : '' %>"><a href="#<%= pager.get('url') %>/<%= page.get('num') %>"><%= page.get('num') + 1 %></a></li>
        <% }) %>
        <li class="<%= (pager.get('next') == null) ? 'disabled' : '' %>">
            <a href="#<%= pager.get('url') %>/<%= pager.get('next') %>" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>