body, html {
	height:100%;
}

.map {
	height:400px;
}

body {
	padding-top: 50px;
}

.login-container {
	width:300px;
	margin:0 auto;
}

.login-fields input {
	margin-bottom: 16px;
}

.fc-50 {
	width:50%;
	float:left;
}

.fc-left {
	padding-right: 8px;
}

.fc-right {
	padding-left: 8px;
}