body, html {
	height:100%;
}
#loading {
	position:absolute;
	top:0;
	left:0;
	background-color: white;
	z-index: 9999;
	opacity: 0.5;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	display: none;
}

#loading .spinner {
	position: relative;
	left: 50%;
	top:50%;
	width: 32px;
	height: 32px;
	margin-left: 16px;
	margin-top: 16px;
	background: url(img/ajax-loader.gif);
}

.map {
	height:400px;
}

body {
	padding-top: 50px;
}

.login-container {
	width:300px;
	margin:0 auto;
}

.login-fields input {
	margin-bottom: 16px;
}

.form-fields input,
.form-fields textarea,
.form-fields button
{
	margin-bottom: 16px;
}

.form-fields textarea {
	height: 8em;
}

.fc-50 {
	width:50%;
	float:left;
}

.fc-left {
	padding-right: 8px;
}

.fc-right {
	padding-left: 8px;
}